/* Reset simples */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

body.dark-mode{
  background-color: #313030;
}

/* Cabeçalho */
header {
  background-color: #2ecc71;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark-mode header {
  background-color: #259152;
}


/* Logo e imagem carrinho */
header img {
  width: 28px;
  height: 28px;
}

/* Botão ☰ */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* Menu oculto */
.menu {
  display: none;
  position: absolute;
  top: auto;
  right: 0;
  background-color: #56a356;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 999;
}

body.dark-mode .menu {
  background-color: #3f743f;
}

/* Mostrar menu */
.menu.active {
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu a img {
  width: 20px;
  height: 20px;
}


.menu a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px;
  text-decoration: none;
  gap: 10px;
  cursor: pointer;
}


.menu a:hover {
  background-color: #427a42;
}

body.dark-mode .menu a:hover {
    background-color: #2f532f;
}

#btnTema {
  transition: transform 0.4s ease;
}

#btnTema.girando {
  transform: rotate(90deg);
}

.perfil-menu {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

/* Conteúdo do menu perfil */
.perfil-conteudo {
  background-color: #F8F8FF;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 30px;
  border: 1px solid rgba(255,255,255, 0.18);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

body.dark-mode .perfil-conteudo {
  background-color: #313131;
  color: white;
}


/* Botão de fechar menu perfil */
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

label {
  width: 80%;
  margin-bottom: 5px;
  color: #222;
}

body.dark-mode label {
  color: white;
}

input {
  width: 80%;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
}

body.dark-mode input {
  background-color: #555;
  color: white;
}

form button {
  width: 40%;
  border: none;
  background-color: #dad8d8;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

body.dark-mode form button {
  background-color: #c4c1c1;
  color: black;
}

form button:hover {
  background-color: #808080;
    border: black;
  border-width: 100;
}

body.dark-mode form button:hover {
  background-color: #8f8e8e;
  color: black;
}