body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}

imagem{
    width: fit-content;
    height: fit-content;
}

.container{
    display: flex;
}

.carousel-item{
    display: flex;
    height: 80%;
}

.carousel-item img.logo {
    width: 1290px;      
    height: 580px;
   
}


.carousel-item img.imagem{
    display: flex;
}

carousel-control-icon{
    width: 2rem;

}       